@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:600,700&display=swap");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #000000;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  color: #222222;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 18px;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

.section-header {
  margin-bottom: 30px;
}

.section-title {
  font-size: 30px;
  color: #222222;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(54 74 165);
}

.btn {
  font-size: 14px;
  padding: 10px 100px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #1b0052;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.section-padding {
  padding: 0px 0;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #1b0052;
  z-index: 999999;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background: #1b0052 !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.navbar {
  padding: 0;
}

#hero-area {
  color: #fff;
  overflow: hidden;
  position: relative;
  background-color: black;
  background-repeat:repeat;
}

#hero-area .contents {
  padding: 25px 0px 25px;
}

#hero-area .contents .head-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0px;
}

#counter {
  background-color: #364ca6;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#counter .counter-box {
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 9px 16px 0px rgba(225, 225, 225, 0.004);
  text-align: center;
  position: relative;
}

#counter .counter-box .icon-o {
  color: #fff;
  margin-bottom: 20px;
}

#counter .counter-box .icon-o i {
  font-size: 42px;
}

#counter .counter-box h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#counter .counter-box h3:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 45px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #e5e5e5;
}

#counter .counter-box p {
  color: #fff;
  font-size: 16px;
}

#pricing {
  text-align: center;
}

#pricing .table {
  margin-top: 15px;
  padding-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#pricing .table .description {
  text-align: center;
  padding: 0px 0px;
  margin-bottom: 20px;
}

#pricing #active-tb {
  background: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

#pricing .active {
  z-index: 99999;
}

.copyright {
  background: #34363a;
  padding: 15px;
}

.copyright .footer-logo img {
  width: 80%;
}

.copyright p {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.789);
  text-align: center;
  margin: 0;
}
